$white: #FFFFFF;
$light-gray: #E8E9EB;
$gray: #A7A7A7;
$dark-gray:#606060;
$accent: #03AFC2;
$dark-blue: #223843;
$green-blue: linear-gradient(to bottom, rgba(3, 102, 194, 0.65), rgba(25, 238, 25, 0.966));