@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,900|Special+Elite&display=swap');

$ff-s: 'Merriweather',
serif;
$ff-ss: 'Six Caps',
sans-serif;

$ff-se: 'Special Elite',
cursive;
$ff-am: 'Arima Madurai',
cursive;


$fw-n: 400;
$ff-b: 900;

@mixin sans-serif($fs, $ls: .15em, $color: $dark-gray, $tt: uppercase, $lh: 1) {
    font-size: $fs;
    letter-spacing: $ls;
    color: $color;
    text-transform: $tt;
    line-height: $lh;
    font-family: $ff-se;
    font-weight: $fw-n;
}